/*Обнуление*/

*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer; background-color: white;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/*--------------------*/
@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Medium.woff2') format('woff2'),
        url('./fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-bold';
    src: url('./fonts/Gilroy-Bold.woff2') format('woff2'),
        url('./fonts/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
body{
    font-family: 'Gilroy';
}
.content{
    margin: 0 auto;
    min-width: 400px;
    width: 66%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    padding-bottom: 100px;   
}
.header__buttons{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 32px;
    margin: 30px 0 32px 0;
}
.header__buttons-style {
    font-weight: 700;
    font-size: 18px;
    color: #828282;
    cursor: pointer;
}
.header__buttons-style:hover{
    color: black;
}
.ru{
    font-weight: 700;
    color: #828282;
}
.eng{
    font-weight: 700;
}
.ru:hover{
    color:black;
}
.ru:hover .eng{
    color: #828282
}
.header__text{
    margin: 0 0 35px 0;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    
    align-items: end ;
}
.header__description{
    justify-self: start;
}
.header__name {
    font-size: 47.34px;
    font-weight: 700;
}
.header__lang {
    transform: rotate(-90deg); 
    font-weight: 700; 
    position: relative;
    bottom: 20px; 
    left: 20px;
}
.header__img-mobile{
    display: none;
}
.header__img {
    width: 100%;
    height: auto;
}
.about{
    height: 506px;
    background: #F6F6F6;
    font-size: 18px;
    text-align: center;
    padding-top: 120px;
}
.about__title{
    font-size: 34px;
    font-family: 'Gilroy-bold';
}
.about__main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
}
.skills{  
    display: flex;
    justify-content: center;
}
.skills__content{ 
    padding: 91px 0 0 0;
    min-width: 400px;
    width: 66%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.skills__title{
    font-family: 'Gilroy-bold';
    font-size: 34px;
    margin-bottom: 70px;
}
.skills__description{
    font-size: 18px;
    margin-bottom: 90px;
}
.skills__soft{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skills__soft-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 206px;
    justify-content: space-between;
    margin-bottom: 110px;
}
.skills__soft-title{
    color: #828282;
    font-size: 14px; 
}
.skills__soft-logo{
    width: 89px;
    height: 88px;
}
.portfolio {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio__content {
    min-width: 400px;
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio__title {
    margin: 112px 0 0 0;
    font-family: 'Gilroy-bold';
    font-size: 34px;
}
.poftfolio__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio__img {
    width: 100%;
    height: auto;
    margin: 47px 0 45px 0;
}
.portfolio__item-link {
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
}
.portfolio__item-link:last-child{
    margin-bottom: 96px;
}
.contacts {
    padding:114px 0 123px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts__title {
    font-family: 'Gilroy-bold';
    font-size: 34px;
    margin-bottom: 20px;
}
.contacts__text {
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    margin-bottom: 42px;
}
.contacts__button {
    font-family: 'Gilroy-bold';
    font-size: 18px;
    height: 42px;
    width: 180px;
    background: #070707;
    color: white;
    border-radius: 50px;
    margin-bottom: 91px;
    transition-duration: 0.2s;
}
.contacts__button:hover{
    transition-duration: 0.2s;
    background-color: #4b4b4b;
}
.contacts__button:active{
    transform: translateY(2px);
}
.contacts__social {
    display: flex;
    gap: 47px;
    margin-bottom: 45px;
    flex-wrap: wrap;
}
.social-media{
    transition-duration: 0.5s;
}
.social-media:hover{
    transform: translateY(-5px);
    transition-duration: 0.5s;
}
.social-media:active{
    transform: translateY(2px);
}
.contacts__footer {
    text-align: center;
    color: #828282;
    line-height: 16.98px;
}
.burger__menu {
    padding: 0 20px 0 20px;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: -100%;
    transition: all 0.5s;
    background-color: #F6F6F6;
}
.burger__body {
    display: flex;
    flex-direction: column;
    row-gap: 68px;
    cursor: pointer;
}
.burger__body-item {
    color: #828282;
    font-family: 'Gilroy-bold';
    font-size: 34px;
    width: 60%
}
.burger__body-item:hover{
    color: black
} 

@media screen and (max-width: 400px) and (min-width: 317px){
    body{
        padding-top: 30px;
    }
    body.lock{
        overflow: hidden;
    }
    .content{
        min-width: 320px;
    }
    .burger__menu.active{
        left: 0;
        transition: all 0.3s;
    }
    .burger__menu {
        display: block;
        padding-top: 45px;
    }
    .header__text{
        flex-direction: column;
        align-items: start;
        row-gap: 23px;
        min-width: 80%;
        max-width: 100%;
    }
    
    .header__buttons{
        display: none;
    }
    .header__lang{
        display: none;
    }
    .header__img{
        display: none;
    }
    
    .header__img-mobile{
        display: inline-block;
        background-image: url("./img/header-mobile.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 320px;
        height: 478px;
    }
    .header__img-mobile-c{
        min-width: 317px;
        text-align: center;
    }
    .burger__button{
        display: block;
        position: absolute;
        right: 35px;
        top:45px;
        cursor: pointer;
        width: 30px;
        height: 20px;
    }
    .burger__button span{
        position: absolute;
        top: 50%;
        width: 100%;
        height: 4px;
        background-color: #828282;
        transform: translateY(-50%);
        transition: all 0.2s;
    }
    .burger__button span:first-child{
        top: 0;
        transform: translateY(0);
    }
    .burger__button span:last-child{
        bottom: 0;
        top: auto;
        transform: translateY(0);
    }
    .burger__button.active span:nth-child(2){
        transform: scale(0);
    }
    .burger__button.active span:first-child{
        transform: rotate(-45deg);
        top:16px; 
        
    }
    .burger__button.active span:last-child{
        transform: rotate(45deg)
    }
    .skills__content{
        min-width: 200px;
    }
    .skills__soft{
        display: flex;
        justify-content: center;
    }
}